@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

form {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Spacing between form elements */
  margin: 1rem auto;
  /* Center the form horizontally */
  width: fit-content;
  /* Adjust width as needed */
  font-family: "Aleo", serif;
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Spacing between label and input */
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
