@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

header {
  container-type: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
}

span {
  font-family: "Aleo", serif;
  font-weight: 700;
}

main {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.orange-box {
  padding-top: 15px;
}

.orange-box-top {
  padding-top: 5px;
}

.orange-box-middle {
  padding-top: 17px;
  padding-left: 10px;
}

.orange-box-bottom {
  display: flex;
  padding-top: 15px;
  padding-bottom: 50px;
  align-items: center;
  margin-left: 0px;
}

#hero-mobile-pic {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
