@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

header {
  container-type: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
}

span {
  font-family: "Aleo", serif;
  font-weight: 700;
}

main {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
}

@media (min-width: 1024px) {
  .how-it-works {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}