.hero {
  background-color: white;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#hero-mobile-pic {
  max-width: 100%;
  height: auto;
}

#booking-button {
  background-color: #f0911b;
  color: white;
  font-size: 35px;
  font-weight: 1000;
  margin-left: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: Aleo;
}

.hero-mobile-pic-container {
  /* /* max-width: 300px; */
  max-height: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.orange-box-container {
  background-color: white;
  /* /* max-width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  font-weight: 700;
}

.orange-box {
  background-color: #f0911b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orange-box-top {
  display: inline-block;
  color: black;
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 34px;
  margin-left: 10px;
  font-weight: 680;
  font-family: "Aleo", serif;
  width: 351px;
}

.orange-box-bottom {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 20;
  margin-left: 10px;
}

.orange-box-bottom-left {
  display: grid;
  margin-bottom: 0px;
  font-family: "Aleo", serif;
  color: black;
  font-size: 19px;
  padding-right: 2px;
}

.orange-box-bottom-right {
  margin-left: 3px;
  margin-bottom: 15px;
  margin-top: 1px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: "Aleo", serif;
  padding-right: 2px;
  width: 150px;
}

@media (min-width: 1024px) {
  .hero {
    flex-direction: row;
    justify-content: flex-start;
    /* Align items to the start (left) */
    align-items: center;
    /* Align items vertically in the center */
  }

  .hero-mobile-pic-container {
    max-width: 50%;
    flex: 1;
  }

  .orange-box-container {
    max-width: 50%;
    flex: 1;
  }
}
