@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  flex-direction: row;
  background-color: white;
  color: black;
  font-family: Aleo, serif;
}

.orange-background {
  background-color: orange;
  height: 200%;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  z-index: 2;
  justify-content: right;
  align-items: end;
  display: flex;
  flex-direction: column;
  animation: menuOpen 0.5s ease 0s 1 normal forwards;
}

body.no-scroll {
  overflow: hidden;
}

.menu-button {
  background: 0;
  border: 0;
  cursor: pointer;
}

nav {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 100px;
  animation: menuOpen 0.5s ease 0s 1 normal forwards;
}

.links {
  cursor: pointer;
  padding-bottom: 50px;
  font-size: 2em;
  font-family: sans-serif;
}

@keyframes menuOpen {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }

  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
