@media (min-width: 1024px) {
  .hiw-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .how-it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .how-it-works-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hiw-main {
    display: flex;
    flex-direction: row;
  }
}
